.section-ben {
    display: flex;
    margin-top: 82px;
    width: 91%;
    margin: auto;

}
.direitaSection{
    width: 50%;
}
.card{
    color: white;
}
.esquerdaSection{
    width: 50%;
    display: flex;
    height: auto;
    margin-bottom: 200px;
}
