.section-ben {
    display: flex;
    margin-top: 42px;
    width: 91%;
    margin: auto;
}
.direitaSection{
    width: 50%;
}
.esquerdaSection{
    width: 50%;
    display: flex;
    height: auto;
    margin-bottom: 200px;
}
